body {
    background-image: url('../images/wesh.jpg');
    background-color: grey;
    color: #000000;
}
h1{
    font-size:20px;
}
a {
    text-decoration: none;
    color: #F7F2B2;
    font-weight:lighter;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;

a:hover {
    text-decoration:none;
}
img {
    width:200px;
}

#soiree_nom
{
    background:blue;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th {
    padding: 4px;
    text-align:center;
    font-family: "Liberation Sans", serif;
    text-transform:uppercase;
    background: #FFFFFF;

}

td {
    padding: 4px;
    text-align:center;
    font-family: "Liberation Sans", serif;
    font-size:14px;
    background: #f6f6f6;
}


.menus {
    text-align:center;
    font-family: Open Sans, sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}
.nouveauplat {
    background-color: #003366;
    padding:10px;
    text-transform:uppercase;
    text-align:center;
    font-family: Open Sans, sans-serif;
    letter-spacing:2px;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
    border-radius:2px;
    margin-bottom:5px;
}
.nouveauplat:hover {
    color: #003366;
    padding:10px;
    text-transform:uppercase;
    text-align:center;
    font-family: Open Sans, sans-serif;
    letter-spacing:2px;
    background-color: #FFFFFF;
    text-decoration:none;
    border: 1px solid #003366;
    -webkit-transition: color ease 2s;
    -moz-transition: color ease 2s;
    -o-transition: color ease 2s;
    transition: color ease 2s;


}
.accueil {
    background-color: #006699;
    padding:10px;
    text-transform:uppercase;
    text-align:center;
    font-family: Open Sans, sans-serif;
    letter-spacing:2px;
    width:100%;
}
.modifier {
    text-transform:uppercase;
}

.afficher {
    text-transform:uppercase;
}
.row {
    margin-top: 20px;
}

.titre {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "URW Gothic L", serif;
    text-transform: uppercase;
}


img {
    margin: auto;
}
.navbar ul {
    text-align: right;
    list-style: none;;
}

#imagecaro {
    margin-left: 25%;
    margin-bottom: 15px;
    max-width: 100%;
    height:auto;
    display:block;
}

.category {
    margin-left: 20px;
}

.list {
    text-align: center;
}


#button {
    margin-left: 42%;
}

.titre {
    text-align: center;
}

a:hover {
    text-decoration:none;
}
a:visited {
    text-decoration: none;
}
.navigation {
    background-color: #000000;
    padding:4px;
    text-transform: uppercase;
    font-family: "URW Gothic L",serif;
    font-size: 16px;
    vertical-align:center;
    text-align:center;
}

.form {
    background-image: url('../images/wesh.jpg');
    text-align: center;
}